# PyTorch checkpoint files
*.pt
*.ckpt

# Large model files
pocket2mol/Pocket2Mol/ckpt/

# PDB files (large)
*.pdb

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# DS Store (Mac)
.DS_Store

# Conda environments
*.egg-info/



# Pocket2mol files - downloaded 
pocket2mol/Pocket2Mol/

#SDF files 
outputs/pocket2mol/sample_4eiy_clean.pdb_2026_04_28__12_28_34/SDF_pt_files/
not_commit/
